<de.rabbitchat.confighandler.ClientConfig>
<serverHost>RabbitMQ Server Host</serverHost>
<serverUser>RabbitMQ Client UserName</serverUser>
<serverPass>RabbitMQ Client Password </serverPass>
<defaultSendChannel>RabbitMQ Send Channel</defaultSendChannel>
<receiveChannel>RabbitMQ Receive Channel</receiveChannel>
<defaultSenderName>Client Name</defaultSenderName>
</de.rabbitchat.confighandler.ClientConfig>
